<app-cabecera></app-cabecera>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Supervisores</li>
    </ol>
</nav>
<h1 class="mt-5 text-center">Consultar supervisores</h1>
<form #formBusquedaSupervisor="ngForm">
    <input type="text" placeholder="Nombre del supervisor a buscar" name="buscador" id="buscador"
        [(ngModel)]="supervisorName" #buscador="ngModel" required
        pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$" />
    <button type="submit" class="btn btn-buscador" [disabled]="!formBusquedaSupervisor.form.valid"
        (click)="buscarSupervisorPorNombre()"></button>
</form>
<div *ngIf="buscador.invalid && (buscador.dirty || buscador.touched)"
    class="alert alert-secondary col-md-6 col-lg-6 col-sm-6 mt-4" role="alert">
    <div *ngIf="buscador.errors?.required">
        {{ limpiarBusqueda() }}
        El nombre del supervisor es obligatorio
    </div>
    <div *ngIf="buscador.errors?.pattern">
        {{ limpiarBusqueda() }}
        Introduzca un nombre válido
    </div>
</div>
<div *ngIf="encontrado === true" class="text-center row p-0 m-4 justify-content-center">
    <div class="table-responsive m-2 col-md-9 col-lg-9">
        <table class="table table-hover text-center"
            [ngClass]="{'ocultar' : ocultarTabla() || !formBusquedaSupervisor.form.valid }">
            <thead>
                <tr class="table-blue">
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Departamento</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supervisor of supervisorsFind; let i = index">
                    <td>{{ supervisor.id }}</td>
                    <td>{{ supervisor.name }} {{ supervisor.firstName }} {{ supervisor.lastName }}</td>
                    <td>{{ supervisor.username }}</td>
                    <td>{{ supervisor.email }}</td>
                    <td>{{ departments[i]?.name }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary m-0"
                        (click)="modificarSupervisor(supervisor.id)">Modificar</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-danger m-0"
                            (click)="eliminarSupervisorPorId(supervisor.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>
