<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <div class="col-md-4 d-flex align-items-center">
        <a [routerLink]="['/inicio']" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="../../../assets/imagenes/logo.png" alt="Compañía" class="bi" width="45" height="45">
        </a>
        <span class="text-muted">&copy; 2021 Compañía, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://twitter.com" target="_blank"><i class="fab fa-twitter bi" width="24" height="24"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram bi" width="24" height="24"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://es-es.facebook.com" target="_blank"><i class="fab fa-facebook bi" width="24" height="24"></i></a></li>
      </ul>
    </footer>
  </div>
