<app-cabecera></app-cabecera>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/inicio']">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Administradores</li>
    </ol>
</nav>
<h1 class="mt-5 text-center">Consultar administradores</h1>
<form #formBusquedaAdministrador="ngForm">
    <input type="text" placeholder="Nombre del administrador a buscar" name="buscador" id="buscador"
        [(ngModel)]="administratorName" #buscador="ngModel" required
        pattern="^[\w'\-,.][^0-9_!¡?÷?¿(\)\\+=@#$%ˆ&*(){}|~<>;:[\]]{2,}$" />
    <button type="submit" class="btn btn-buscador" [disabled]="!formBusquedaAdministrador.form.valid"
        (click)="buscarAdministradorPorNombre()"></button>
</form>
<div *ngIf="buscador.invalid && (buscador.dirty || buscador.touched)"
    class="alert alert-secondary col-md-6 col-lg-6 col-sm-6 mt-4" role="alert">
    <div *ngIf="buscador.errors?.required">
        {{ limpiarBusqueda() }}
        El nombre del administrador es obligatorio
    </div>
    <div *ngIf="buscador.errors?.pattern">
        {{ limpiarBusqueda() }}
        Introduzca un nombre válido
    </div>
</div>
<div *ngIf="encontrado === true" class="text-center row p-0 m-4 justify-content-center">
    <div class="table-responsive m-2 col-md-9 col-lg-9">
        <table class="table table-hover text-center"
            [ngClass]="{'ocultar' : ocultarTabla() || !formBusquedaAdministrador.form.valid }">
            <thead>
                <tr class="table-blue">
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Departamento</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let administrator of administratorsFind; let i = index">
                    <td>{{ administrator.id }}</td>
                    <td>{{ administrator.name }} {{ administrator.firstName }} {{ administrator.lastName }}</td>
                    <td>{{ administrator.username }}</td>
                    <td>{{ administrator.email }}</td>
                    <td>{{ departments[i]?.name }}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary m-0"
                            (click)="modificarAdministrador(administrator.id)">Modificar</button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-outline-danger m-0"
                            (click)="eliminarAdministradorPorId(administrator.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>